node_modules      # Dépendances locales
.nuxt            # Build Nuxt temporaire
.output          # Build de production
.git             # Dossier Git
dist             # Dossiers de build potentiels
.env             # Fichiers d'environnement
.DS_Store        # Fichiers système Mac
*.log            # Tous les fichiers de logs
.env*            # Tous les fichiers d'environnement (.env.local, .env.prod, etc.)
docker-compose*  # Fichiers docker-compose